%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
[{lager,
  [{handlers,
    [
     {lager_console_backend, debug},
     {lager_file_backend, [{file, "logs/debug.log"}, {level, debug}]}
    ]}
  ]},
 {kafka_handler,
  [{kafka_nodes,
    [[{name, kfk_docker},
      {hosts, [<<"kafka_1">>]}]]
    }
  ]}
].
