%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info, wargning_as_error,
            {parse_transform, lager_transform},
            {i, "deps/lager/include"},
            {i, "."}
           ]}.


{lib_dirs, ["deps"]}.

{sub_dirs, ["rel", "apps/*"]}.


{deps, [
{'lager', ".*", {git, "https://github.com/basho/lager.git", "2.0.3"}},
%% TODO: remove after dev
{'sync', ".*", {git, "https://github.com/rustyio/sync.git", "master"}},
{'corman', ".*", {git, "https://github.com/cybergrind/corman.git", "1.0.3"}}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.
